*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body{
    background-color: white;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #808080;
}

@media only screen and (min-width: 960px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover .dropdown-toggle::after {
        border-bottom: 0.3em solid;
        border-top: 0;
    }
}

@media screen and (max-width: 991px) {
    .dropdown-toggle.show::after {
        border-top: 0;
        border-bottom: 0.3em solid;
    }
}

a .dropdown-item{
    margin: auto;
    padding: 10px 5px;
}

.ad{
    margin: 50px 300px;
}
.remove-ads{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 500;
}
.remove-ads:hover{
    background: black;
    color: white;
    font-weight: 500;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero a{
    text-decoration: none;
    font-weight: 800;
    color: #000000;
}
.hero a h4 {
    font-weight: 700;
}
.container p{
    margin: 20px 0px;
    font-size: 15px;
    color: gray;
    font-weight: 100;
    text-align: center;
}