@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: white;
}


.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #808080;
}

@media only screen and (min-width: 960px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover .dropdown-toggle::after {
        border-bottom: 0.3em solid;
        border-top: 0;
    }
}

@media screen and (max-width: 991px) {
    .dropdown-toggle.show::after {
        border-top: 0;
        border-bottom: 0.3em solid;
    }
}

a .dropdown-item {
    margin: auto;
    padding: 10px 5px;
}

.ad {
    margin: 50px 300px;
}

.remove-ads {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 500;
}

.remove-ads:hover {
    background: black;
    color: white;
    font-weight: 500;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero a {
    text-decoration: none;
    font-weight: 800;
    color: #000000;
}

.hero a h4 {
    font-weight: 700;
    text-decoration: none;
}

.container p {
    margin: 20px 0px;
    font-size: 15px;
    color: gray;
    font-weight: 100;
    text-align: center;
}

.containerup {
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 260px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
    margin-top: 30px;
}

.card h3 {
    font-size: 22px;
    font-weight: 600;

}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: grey;
}
.drop_box h6{
    font-weight: 700;
    font-size: 15px;
}

.bluebutton {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius:5px; 
    outline: none;
    transition: 0.3s;
}

.bluebutton:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}
p .gdrive{
    text-decoration: none;
    margin-right: 20px;
}
p .dropbox{
    text-decoration: none;
    margin-right: 20px;
}
p .link{
    text-decoration: none;
    margin-right: 20px;
}

span{
    font-size: 12px;
    color: #96b5ea;
}
footer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background:#F7F7F7;
}
footer p{
    font-size: 13px;
    margin-right: 40px;
    margin-top: 15px;
}
footer a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-right: 40px;
}
.footerp{
    margin-left: 30px;
    color: #a3a3a3;
}
.footerglobe{
    margin-left: auto;
    font-size: 15px;
    font-weight: 300;
}